.displayNone{
    display:none;
}

.modal{
    z-index: 1;
    position:absolute;
    top:0;
    left:0;
    width:100vw;
    height: 100vh;
    background-color: #00000055;
}
.modal__main{
    margin:15vh auto ;
    width:70vw;
    max-height: 70vh;
    background-color: #1f2833;
    text-align: center;
    padding: 0.5em;
    overflow-y: scroll;
    border-radius: 50px;
}

.modal__closeIcon{
    position: absolute;
    right: 17vw;
    top: 18vh;
    color:#c5c6c7;
    font-size: 1.5em;
}

.modal__main>form{
    
    width: 30em;
    text-align: left;
    margin: 0 auto;
}
.modal__main>form input, textarea{
    border:none;
    background-color: #c5c6c7;
}
.modal__main>form>*{
    margin-bottom: 1em;

}
.modal__main>form>input[type=text],textarea{
    width:100%;

}

.modal__buttonsContainer{
    padding: 1.5em 0;
    display: flex;
    justify-content: space-around;
    width: 30em;
    margin: 0 auto;
}
.modal__button{
    width:30%;
    color: #1f2833;
    font-size: large;
    font-weight: 700;
    border-radius:25px;
    border:none;
    padding: 0.5em;
}
.modal__button__add{
    background-color: #66fcf1;
}
.modal__button__cancel{
    background-color: #45a29e;
}
.modal__button__delete{
    margin: 1.5em 0;
    background-color: #45a29e;
}

.messageBackground{
    z-index: 2;
    position:absolute;
    top:0;
    left:0;
    width:100vw;
    height: 100vh;
    background-color: #00000055;
}
.message{
    margin:25vh auto ;
    width:40vw;
    min-height: 10vh;
    background-color: white;
    text-align: center;
    padding: 0.5em;
    font-size: x-large;
    padding: 1em;
    border-radius: 25px;
    background-color: #1f2833;
}

.message__button{
    width:30%;
    color: #1f2833;
    background-color: #45a29e;
    font-size: large;
    font-weight: 700;
    border-radius:25px;
    border:none;
    padding: 0.3em;
    margin-top: 2em;
    
}





::-webkit-scrollbar {
    display:none;
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }