/*USE IT FOR THE COLORS*/

:root {

}

/* BEGINNING FLEX STRUCTURE */
main {
    display: flex;
    flex-direction: column;
}

#headerTitle {
    flex-basis: 20%;
    align-content: space-between;
    text-align: center;
}
/* MAIN MONTH SECTION */
#monthDisplay {
    flex-basis: 80%;
    margin: 2em 1em;
    flex-direction: column;
}

#currentDay {
    flex-basis: 5%;
    text-align: center;
}

#weekDayWordsLine {
    flex-basis: 10%;
    display: flex;
    align-items: space-evenly;
    text-align: center;
    
}
    .weekDayWords{
        flex-basis: 13%;
        /*border: 0.2em solid #ffffff;*/
        min-height: 2em;
        min-width: 3em;
        position: relative;
    }

#mainCalendarFlexBox {
    flex-basis: 85%;
    display: flex;
    flex-wrap: wrap;
}
.divCalendarItem {
    flex-basis: 13%;
    border: 0.2em solid #000000;
    min-height: 2em;
    min-width: 3em;
    position: relative;
}

.clickable{
    cursor: pointer;
}

.modal{
    z-index: 1;
    position:absolute;
    top:0;
    left:0;
    width:100vw;
    height: 100vh;
    background-color: #00000055;
}
.modal__main{
    margin:15vh auto ;
    width:70vw;
    height: 70vh;
    background-color: white;
    text-align: center;
    padding: 0.5em;
}

.modal__closeIcon{
    position: relative;
    float: right;
    right: 1em;
    top: 1em;
    color:black;
    font-size: 1.5em;
}

.modal__main>form{
    
    width: 30em;
    text-align: left;
    margin: 0 auto;
}
.modal__main>form>*{
    margin-bottom: 0.8em;

}
.modal__main>form>input[type=text],textarea{
    width:100%;

}



